<div class=""><div class="aHl"></div><div id=":33" tabindex="-1"></div><div id=":184" class="ii gt"><div id=":183" class="a3s aXjCH "><u></u>
    <!-- <a href="https://link.epicgames.com/click/5ec0705874656f74b95c7f93/aHR0cDovL3d3dy5lcGljZ2FtZXMuY29t/5ec070584b2ef41bfe6a83a4B3ebc5a5b" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.epicgames.com/click/5ec0705874656f74b95c7f93/aHR0cDovL3d3dy5lcGljZ2FtZXMuY29t/5ec070584b2ef41bfe6a83a4B3ebc5a5b&amp;source=gmail&amp;ust=1591964823049000&amp;usg=AFQjCNHzgUCzsuuMD56vYyKb2yQ1YyVeFQ"><img src="https://ci6.googleusercontent.com/proxy/2mXQ2gX1GaM0rECNma-UgOsEvnZ2LzIc1hU126lIAHgFld_VqA39FBz4vwXjx1-grm49BCa4u2O8FhbYVArgE5JSHgwtBMBEYF3CM_zbwa2JdBM3zsHZpfWFfbrFV5POM7SloXSDo8wM0qKvaDa-=s0-d-e1-ft#https://link.epicgames.com/img/5ec070584b2ef41bfe6a83a45ec0705874656f74b95c7f93/f354edb5.gif" alt="" border="0" class="CToWUd"></a>
     -->
    
    <div marginwidth="0" marginheight="0" style="background-color:#f1f1f1;min-width:600px;padding:0">
    
      
    
    
    <table width="100%" style="background-color:#f1f1f1;min-width:600px" bgcolor="#f1f1f1">
    <tbody><tr>
    <td align="center" valign="top" width="100%" style="min-width:600px">
    <center>
    
    <table width="100%" style="min-width:600px" border="0" cellpadding="0" cellspacing="0" bgcolor="#f1f1f1">
    <tbody><tr>
    <td align="center">
    <table width="100%" style="min-width:600px" border="0" cellpadding="0" cellspacing="0">
    <tbody><tr height="50">
    <td width="100%" height="50" style="line-height:1px;font-size:1px">&nbsp;</td>
    </tr>
    <tr>
    <td align="center">
    <table border="0" cellpadding="0" cellspacing="0" style="min-width:600px">
    <tbody><tr>
    <td valign="middle" align="center">
    <div style="max-height:50px">
    <div>
    <!-- <a><img align="none" alt="Epic Games" border="0" hspace="0" src="https://ci4.googleusercontent.com/proxy/N3qrBgBzfSaNqTwUAFBHeaauu_55zmCQhm-HtR4ZO282So8ya_lwsbkFN2_ZohnIi4Scmtwr-Cp9sDIA4mZbq5STGyIX_kOULeWKbFRht15m3Drl1Wd8sr29vJIzuHC2Q5uKU3clGgHfprVDP7XbgMxpO24ObWOb1Yg=s0-d-e1-ft#https://gallery.mailchimp.com/aa4e65a2ab3b6aee6458a88b9/images/84a0ae16-aa92-431a-81ba-977c726bc837.png" style="max-width:70px;height:auto;display:block;margin:0px" title="Epic Games" vspace="0" width="70px" class="CToWUd">
    </a> -->
    </div>
    </div>
    </td>
    </tr>
    </tbody></table>
    </td>
    </tr>
    </tbody></table>
    <table width="100%" style="min-width:600px" border="0" cellpadding="0" cellspacing="0">
    <tbody><tr>
    <td align="center">
    <table width="600" border="0" cellpadding="0" cellspacing="0" style="min-width:600px">
    <tbody><tr height="50">
    <td width="100%" height="50" style="line-height:1px;font-size:1px">&nbsp;</td>
    </tr>
    <tr>
    <td align="left" style="font-family:arial,helvetica,sans-serif;font-size:24px;color:#313131;text-align:center;line-height:75px">
    <div style="font-family:arial,helvetica,sans-serif;font-size:24px;color:#313131;text-align:center;line-height:50px">
    Public Service Inquiry System <span class="il"><br>
        Email Verification</span> 
    </div>
    </td>
    </tr>
    <tr height="0">
    <td width="100%" height="30" style="line-height:1px;font-size:1px">&nbsp;</td>
    </tr>
    </tbody></table>
    </td>
    </tr>
    </tbody></table>
    </td>
    </tr>
    </tbody></table>
    
    
    <table width="100%" style="min-width:600px" border="0" cellpadding="0" cellspacing="0" bgcolor="#f1f1f1">
    <tbody><tr>
    <td align="center">
    <table width="600" style="min-width:600px;background-color:#ffffff" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
    <tbody><tr>
    <td align="center">
    <table width="400" border="0" cellpadding="0" cellspacing="0" style="min-width:400px">
    <tbody><tr height="30">
    <td width="100%" height="30" style="line-height:1px;font-size:1px">&nbsp;</td>
    </tr>
    <tr>
    <td align="left" style="font-family:arial,helvetica,sans-serif;font-size:16px;color:#313131;line-height:24px">
    <div style="font-family:arial,helvetica,sans-serif;font-size:16px;color:#313131;line-height:24px">
    Hey {{first_name}},<br><br>
    Please <span class="il">verify</span> your email address using the code below to complete account setup!
    <br><br>
    </div>
    </td>
    </tr>	
    <tr>
    <td align="center" style="font-family:arial,helvetica,sans-serif;color:#313131;text-align:center;font-size:50px;letter-spacing:20px;line-height:120px">
    <div style="font-family:arial,helvetica,sans-serif;color:#313131;text-align:center;font-size:50px;letter-spacing:20px;line-height:120px">
    {{verification_code}}
    </div>
    </td>
    </tr>
    <tr height="30">
    <td width="100%" height="30" style="line-height:1px;font-size:1px">&nbsp;</td>
    </tr>
    <tr>
    <td align="left" style="font-family:arial,helvetica,sans-serif;font-size:16px;color:#313131;line-height:24px">
    <!-- <div style="font-family:arial,helvetica,sans-serif;font-size:16px;color:#313131;line-height:24px">
    Your <span class="il">verification</span> code will expire in 30 minutes, so make sure you use it as soon as you can.
    </div> -->
    </td>
    </tr>	
    <tr>
    <td align="left" style="font-family:arial,helvetica,sans-serif;font-size:16px;color:#313131;line-height:24px">
    <div style="font-family:arial,helvetica,sans-serif;font-size:16px;color:#313131;line-height:24px">
    
    <br><br>
    Thank you,<br>Public Service Inquiry System Team<br><br>
    </div>
    </td>
    </tr>
    <tr height="50">
    <td width="100%" height="30" style="line-height:1px;font-size:1px">&nbsp;</td>
    </tr>
    </tbody></table>
    </td>
    </tr>
    </tbody></table>
    </td>
    </tr>
    </tbody></table>
    
    
    <table width="100%" style="min-width:600px" border="0" cellpadding="0" cellspacing="0">
    <tbody><tr>
    <td align="center">
    <table width="600" border="0" cellpadding="0" cellspacing="0" style="min-width:600px">
    <tbody><tr height="15">
    <td width="100%" height="20" style="line-height:1px;font-size:1px">&nbsp;</td>
    </tr>
    <tr>
    <td align="center">
    <table width="560" border="0" cellpadding="0" cellspacing="0" style="min-width:560px">
    <tbody><tr>
    <td align="center">
    <div style="font-family:arial,helvetica,sans-serif;font-weight:bold;font-size:14px;color:#313131;text-align:center;line-height:26px">
    <a style="text-decoration:none;color:#6bae7c" href="https://minullamahewage.github.io/psichatbot" target="_blank">PSI System Home</a><br>
    </div>
    </td> 
    </tr>
    <tr height="20">
    <td width="100%" height="20" style="line-height:1px;font-size:1px">&nbsp;</td>
    </tr>
    <tr>
    <td align="center">
    <div style="font-family:arial,helvetica,sans-serif;font-size:12px;color:#858585;text-align:center;line-height:20px">
    <p>© 2020 PSI System. All rights reserved. This system has been developed for the software engineering project of semester 05 by group 15.<br>Batch 17, Department of Computer Science and Engineering, Faculty of Engineering, University of Moratuwa, Sri Lanka.The source code is linked below. </p>
    <br>
    <a href="https://github.com/minullamahewage/psichatbot" style="color:#0aaff1" target="_blank">Front-end Source Code</a>| <a href="https://github.com/minullamahewage/psichatbot-server" style="color:#0aaff1" target="_blank">Telecom Chatbot Source Code</a>
    </div>
    </td>
    </tr>
    <tr height="20">
    <td width="100%" height="20" style="line-height:1px;font-size:1px">&nbsp;</td>
    </tr>
    <tr height="20">
    <td width="100%" style="font-family:arial,helvetica,sans-serif;font-size:12px;color:#858585;text-align:center;line-height:20px"></td>
    </tr>
    </tbody></table>
    </td>
    </tr>
    </tbody></table>
    </td>
    </tr>
    </tbody></table>
    
    </center>
    </td>
    </tr>
    </tbody></table><div class="yj6qo"></div><div class="adL">
    
    
    
    </div></div><div class="adL">
    
    </div></div></div><div id=":37" class="ii gt" style="display:none"><div id=":36" class="a3s aXjCH undefined"></div></div><div class="hi"></div></div>